<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hej hej</title>
</head>
<body>
<p>You are now logged in as: <span th:text="${#authentication.name}"></span>, Welcome!</p>
<ul>
    <li><a href="/register">Register a new user</a></li>
    <li><a href="/delete_user">Delete a user</a></li>
    <li><a href="/update_user">Update a user</a></li>
    <li><a href="/update_password">Update a users password</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>
</body>
</html>
