<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Password</title>
</head>
<body>
<div>
    <h1>Update Password</h1>
    <form action="#" th:action="@{/update_password}" method="post" th:object="${passwordUpdateDTO}">

        <label>Email:</label>
        <input type="email" th:field="*{email}" />
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</span>
        <br/>

        <label>New Password:</label>
        <input type="password" th:field="*{newPassword}" />
        <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">New Password error</span>
        <br/>

        <button type="submit">Update Password</button>

    </form>
</div>
</body>
</html>
